<div class="container">
   <div class="col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <form class="form-signin" method="post" action="index.php" name="loginform">
            <h2 class="form-signin-heading">Logowanie</h2>
            <label for="login_input_username" class="sr-only" >Username</label>
            <input id="login_input_username" class="form-control" placeholder="Login" type="text" name="user_name" required style="margin-bottom: 2px"/>
            <label for="login_input_password" class="sr-only" >Password</label>
            <input id="login_input_password" class="form-control" placeholder="Password" type="password" name="user_password" autocomplete="off" required />
            <p style="margin-bottom: 2px"></p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">Zaloguj się</button>
        </form>
        <p>
            <a href="register.php">Zarejestruj się</a>
        </p>
        <p>
            Przykładowe konto: demo/demo123<br />
            Konto administratora: Administrator/zaq12wsx
        </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4"></div>


</div>