/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: -webkit-linear-gradient(white 65%,green 70%, white 75%); /*Safari 5.1-6*/
    background: -o-linear-gradient(white 65%,green 70%, white 75%); /*Opera 11.1-12*/
    background: -moz-linear-gradient(white 65%,green 70%, white 75%); /*Fx 3.6-15*/
    background: linear-gradient(papayawhip 65%,green 70%, papayawhip 75%);/*Standard*/
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.parent {
    display: table;
    table-layout: fixed;
}
.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

